@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}


.menu{
  background-image: url(src/linha-preta-e-amarela-listrada-fundo-listrado-de-aviso-de-grunge_97458-60.jpg);
    margin-bottom: 25px;
    overflow: hidden;
}
.menu a.inicio{
  margin-right: 600px;
  margin-top: 20px;
 float: right ;
}
.menu a{
  margin: 10px;
    float: left;
    color: #DDDDDD;
    padding: 14px;
    font-size: 17px;
    text-decoration: none;
}


.menu a:hover {
  
    background-color: #DDDDDD;
    color: black;
}

.menu a.ativo {
    
    background-color: #dac508;
    color: white;
}

.form-group button #salvar{
  float: right;
}
.menu a.ativo2
 {
  
  background-color: #0b22a4;
  color: white;
}
  .form{
  width: auto;
    background-image: url(src/linha-preta-e-amarela-listrada-fundo-listrado-de-aviso-de-grunge_97458-60.jpg);
    color: #F1F1F1;
}

.form-group{
  background-image: url(src/linha-preta-e-amarela-listrada-fundo-listrado-de-aviso-de-grunge_97458-60.jpg);
    display: flex;
    flex-direction: row;
}

.form-group label {
    width: 125px;
    font-weight: bold;
    font-size: 16px;
}


  .input-control{
    width: 10%;
    height: 20%;
  }

.form-group label.right-inline{
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
}
.form-group .input-control{
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 5px;
}
button{
  padding-left: 10px;
  background-color: #0b22a4;
    color: #0B6FA4;
    font-size: 15px;
    margin: 10px;
    min-width: 100px;
    border-radius: 10px;
    cursor: pointer;

}

.botao button{
  padding-left: 10px;
  background-color: #0b22a4;
    color: #0B6FA4;
    font-size: 15px;
    margin: 10px;
    min-width: 100px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 80px;
    text-align: center;
    border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.paleBlueRows tbody td {
    font-size: 13px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background-color: #dac508;
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
  }
  table.paleBlueRows tfoot td {
    font-size: 14px;
  }

  @media (max-width: 100%){
    .form-group {
      flex-direction: column;
    }

    .form-group label.right-inline {
      text-align: left;
      padding-right: 0;
      padding-left: 0;
    }
  }